*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
     place-items: center;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(6, 6, 6, 0.8)), url('./Asssets/img/photo-1441974231531-c6227db76b6e.avif');
}
     .container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 10px;
    background-color: #4444;
    padding: 30px;
}
.clock{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.clock span{
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: aliceblue;

}

.Social{
    display: grid;
    place-items: center;
    padding: 3px;
    flex-direction: column;
    gap: 10px;
}
.Social p{
    color: gray;
    font-weight: 100;
}
.Social ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.Social ul li a{
   text-decoration: none;  
   color: aliceblue;
   font-size: 1.5rem;
}
@media (width <= 480px){
    .container{
        width: 100%;
    }
}
@media (width <= 768px){
    .container{
        width: 100%;
    }
}
@media (width <= 1920px){
    .container{
        width: 100%;
    }
}
p{
    color: #222;
    font-family: 'Poppins',sans-serif;
    font-size: 13px;
  font-weight: 800;
}
.span{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 138, 232);
    border-radius: 10px;
    box-shadow: 10px 10px 400px  rgb(30, 138, 232) ;
}

.pm{
font-size: 2rem;
font-weight: 700;
color: aliceblue;
}